{
  "settings": {
    "tabbingInterval": 15,
    "shouldRefresh": false 
  },
  "credentials": {
    "globalUsername": "GlobalDefaultusername",
    "globalPasswordBase64": "base64OfGlobalDefaultPassword=="
  },
  "displays": {
    "0": {
      "username": "Display01Username",
      "urls": [
        "https://aSite.com/page",
        "https://aSite.com/logins/willBe/handled/onThe/First/page"
      ]
    },
    "1": {
      "username": "Display02Username",
      "urls": [
        "https://someothersite.com/page"
      ]
    },
    "2": {
      "username": "Display03Username",
      "urls": [
        "https://somesite.com/page",
        "https://somesite.com/page2"
      ]
    }
  }
}
