{
  "settings": {
    "refreshInterval": 300,
    "shouldRefresh": false,
    "tabbingInterval": 15,
    "resX": 1920,
    "resY": 1080
  },
  "credentials": {
    "globalUsername": "GlobalDefaultusername",
    "globalPasswordBase64": "base64OfGlobalDefaultPassword=="
  },
  "auth_pages": {
    "^Elastic": {
      "method": "generic",
      "username": "elasticsearchKibanaUser",
      "passwordBase64": "base64OfElasticKibanaUserPassword=="
    },
    "MySite Log In Page": {
      "method": "generic"
    },
    ".*login.*": {
      "method": "generic",
      "username": "myLogin",
      "passwordBase64": "base64OfMyPassword"
    }
  },
  "displays": [
    {
      "username": "Display01Username",
      "totp": "optional base32 totp string",
      "urls": [
        "https://aSite.com/page",
        "https://aSite.com/logins/willBe/handled/onThe/First/page"
      ]
    },
    {
      "username": "Display02Username",
      "urls": [
        "https://someothersite.com/page"
      ]
    },
    {
      "username": "Display03Username",
      "urls": [
        "https://somesite.com/page",
        "https://somesite.com/page2"
      ]
    }
  ]
}
